     body {
        background-color: lightgrey;
        font-family: Arial, Helvetica, sans-serif;
      }

      h2 {
        background-color: grey;
        color: white;
        clear:both;

      }

      h1 {
        text-align: center;
        font-size: 300%;
        word-spacing: 10px;
      }

      p {
        margin-left: 10%;
        margin-right: 10%;
        text-indent: 2rem;

      }

      img {
        padding: 10px;
        float:inline-start;
      }

      .spanrojo {
        color:red;

      }

      .fondoblanco {
        background-color: white;
        font-weight: bold;
      }

      /* */