     body {
        background-color: #6eb5f0;
        font-family:Georgia, 'Times New Roman', Times, serif;
      }

      h2 {
        background-color: rgb(87, 99, 107);
        color: white;
        clear:both;
        text-align: center;
      }

      h1 {
        text-align: center;
        font-size: 300%;
        word-spacing: 10px;
        color:white ;
        font-family: sans-serif;
      }

      p {
        margin-left: 10%;
        margin-right: 10%;
        text-indent: 2rem;

      }

      img {
        padding: 10px;
        float:inline-start;
      }

      .spanrojo {
        color:springgreen;
        font-weight: bold;

      }

      .fondoblanco {
        background-color:rgba(8, 177, 154, 0.637);
        font-weight: bold;
        color:white;
      }
