.caja1 {
    margin: 2%;
    background-color: #f5c76c;
    padding: 20px;
    border: 10px solid #e7a219;
    width: 40%;
    height: auto;
    text-align: justify;
    float: left;
}

.caja2 {
    margin: 2%;
    padding: 20px;
    background-color: #f5c76c;
    border: 3px dashed black;
    border-radius: 10px 50px;
    box-shadow: 5px 9px 3px gray;
    width: 40%;
    text-align: justify;
    clear: both;
    float: left;
}

.caja3 {
    margin: 2%;
    padding: 20px;
    width: 40%;
    text-align: justify;
    position: absolute;
    right: 0;
    float: right;
}

p.bola {

    border: 10px solid black;
    border-image-source: url(../img/bola-100.png);


}

p.pastilla {
    width: 700px;
    padding: 20px;
    margin: 20px auto;
    background: white;


    border: 6px solid transparent;
    border-radius: 12px;
    background-image:
        linear-gradient(white, white),
        linear-gradient(to bottom, #88c7e9, #2d77b8);
    background-origin: border-box;
    background-clip: padding-box, border-box;


    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);

    font-size: 14px;
    line-height: 1.5;


}

p.ventana {

    width: 600px;
    height: 320px;
    background-image: url(../img/ventana.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    border: 10px solid #6b8ebe;
}






p.hormiga {}